@charset "UTF-8";
/*//////////////////////////////*/
/*        COLOR MANAGER         */
/*//////////////////////////////*/
:root {
  font-family: sans-serif;
  --backgroundColor: #f2f2f2;
  --compBgColor: #faf8f5;
  --textColor: #121212;
  --textOnPrimaryColor:#121212;
  --elementColor: #b3b3b3;
  --elementColorHover:#121212;
  --primary: #20cfcf;
  --primary-light: #a7f1f1;
  --primary-dark: #30a6a6;
  --modalBg:rgba(18, 18, 18, 0.6);
  --modalContentBg:#faf8f5; }

html[dark] {
  --backgroundColor: #121212;
  --compBgColor: rgba(250, 248, 245, 0.07);
  --modalBg:rgba(250, 248, 245, 0.07);
  --modalContentBg:#121212;
  --textColor: #faf8f5;
  --textOnPrimaryColor:#121212;
  --elementColor: #b3b3b3;
  --elementColorHover:#faf8f5; }

/*//////////////////////////////*/
/*         STYLE RESET          */
/*//////////////////////////////*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*héritage par rapport à body*/ }

html {
  font-size: 62.5%;
  /*1 rem égal à 10px maintenant 62.5% = 10px/16px*/
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  color: var(--textColor); }

/*//////////////////////////////*/
/*         STYLE GLOBAL         */
/*//////////////////////////////*/
.content {
  display: flex;
  justify-content: center;
  gap: 5rem; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 101;
  /* Sit on top */
  left: 0;
  bottom: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */ }
  @supports (-webkit-backdrop-filter: blur(0.8rem)) or (backdrop-filter: blur(0.8rem)) {
    .modal {
      -webkit-backdrop-filter: blur(0.8rem);
      backdrop-filter: blur(0.8rem);
      background-color: var(--modalBg); } }

.modal-content {
  background-color: var(--modalContentBg);
  margin: auto;
  padding: 20px;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 3rem; }
  .modal-content__title {
    background-color: var(--primary);
    color: var(--textOnPrimaryColor);
    font-size: 3rem;
    padding: 2rem;
    padding-left: 6rem; }
  .modal-content__data {
    padding: 3rem 2rem 1rem 6rem;
    font-size: 1.6rem;
    line-height: 2.24rem; }

.modal__line {
  height: calc(100% - 20px);
  width: 1px;
  background-color: var(--textColor);
  position: absolute;
  top: 2rem;
  left: 5rem; }

.close {
  color: var(--elementColor);
  position: absolute;
  top: -1rem;
  left: calc(100% - 1.5rem);
  font-size: 25px;
  font-family: serif;
  font-weight: bold;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: var(--modalContentBg);
  border-radius: 50%;
  transition: all .5s ease-out; }

.close:hover,
.close:focus {
  cursor: pointer;
  transform: rotate(90deg);
  color: var(--elementColorHover); }

/*//////////////////////////////*/
/*         THEME BUTTON         */
/*//////////////////////////////*/
.btn-theme {
  display: block;
  margin: 5rem auto;
  border: none;
  background-color: transparent;
  cursor: pointer; }

/*//////////////////////////////*/
/*         BUTTONS STYLE        */
/*//////////////////////////////*/
.btn {
  border: none;
  padding: 1.5rem 2rem;
  background-color: var(--primary);
  border-radius: 500px;
  cursor: pointer; }

.btn:hover {
  background-color: var(--primary-dark); }
